.saved {
	padding: 2rem 0;
	box-sizing: border-box !important;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content;
	grid-auto-rows: min-content;
	row-gap: 1rem;

	/*start  global for dashboard */
	h2 {
		color: $color;
		font-size: 1.5rem;
		margin: 0.125rem 0;
		font-weight: 600;
	}

	h1 {
		font-size: 2rem;
	}

	.head {
		span {
			cursor: pointer;
		}
	}
	.button {
		// margin-top: 4rem;
		a {
			padding: 5px 14px;
			background-color: $color;
			color: #fff;
			border-radius: 0.3rem;
			font-size: 12px;
			text-decoration: none;
			cursor: pointer;
		}
	}

	.welcome-text {
		padding: 0;
		margin: 0;

		p {
			color: $color;
			margin: 0;
			font-weight: 500;
		}
	}

	.profile-info {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		background: $white;
		padding: 3rem 2rem;
		border-radius: 10px;

		.college {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			// z-index: 999;

			.image-wrapper {
				flex: 1 1 20%;

				img {
					max-width: 200px;
				}
			}

			.college-info {
				flex: 1 2 70%;

				.field {
					font-weight: 600;
					color: $black;
					font-size: 1.1rem;
					margin: 0;
				}

				.name {
					font-weight: 500;
					color: $gray;
					font-size: 1rem;
				}
				.actions {
					display: flex;
					gap: 1rem;

					.unsave {
						background: #e21445 !important;
					}
				}
			}
		}
	}
}
