$color: #05397c;
$white: white;
$gray: rgb(149, 150, 161);
$black: rgb(5, 0, 43);
$light: rgb(187, 187, 187);
$color-light: #064faf88;
$success: #28c76f;
$hover-active-nav: #224264;
$error_bg: #f4f5f9;
