.statePage {
	h1 {
		font-size: 2rem;
		color: $white;
	}
	.divider {
		width: 100%;
		height: 1px;
		background-color: rgb(236, 236, 236);
	}
	.uni_img {
		background-color: #fff;
		border-radius: 15px;
		overflow: hidden;
		box-shadow: 0px 3px 16px 0px rgba(3, 32, 126, 0.144);
		display: flex;
		align-items: center;
		justify-content: center;
		.university-name-ranking {
			text-align: center;
			align-items: center;
			display: flex;
			justify-content: center;
			min-height: 250px;
			a {
				text-decoration: none;
			}
			.uniname {
				font-size: 14px;
				color: $white;
			}
		}
		.uni_logo {
			padding: 20px;
			text-align: center;
			min-height: 250px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		h2 {
			color: $white;
			// top: 50px;
			// position: relative;
		}
		img {
			width: 100%;
			height: auto;
		}
		.ranking {
			display: flex;
			flex-direction: row;
			// top:38px;
			// position: relative;
			.box1 {
				display: flex;
				flex-direction: row;
				align-items: center;
				.text {
					margin-left: 10px;
					p {
						font-size: 12px;
						position: relative;
						top: 10px;
						color: white;
					}
					span {
						font-size: 13px;
						font-weight: 700;
						position: relative;
						top: -6px;
						color: white;
					}
				}
				.icon {
					background: #ebf8f0;
					color: #03a742;
					border-radius: 5px;
					padding: 9px;
				}
			}
			.box2 {
				background-color: transparent;
				display: flex;
				flex-direction: row;
				align-items: center;
				.text {
					margin-left: 10px;
					p {
						font-size: 12px;
						position: relative;
						top: 10px;
						color: white;
					}
					span {
						font-size: 13px;
						font-weight: 700;
						position: relative;
						top: -6px;
						color: white;
					}
				}
				.icon {
					background: #ebf7f8;
					color: #05bfd8;
					border-radius: 5px;
					padding: 9px;
				}
			}
		}
	}
	.top {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: left;
		h2{
			color: #05397c;
			font-size: 1.5rem;
		}
	}
	.content {
		background-color: #fff;
		border: 1px solid rgba(128, 128, 128, 0.144);
		border-radius: 10px;
		padding: 20px;
		.uni_logo {
			border-radius: 15px;
			overflow: hidden;
			box-shadow: 0px 3px 16px 5px rgba(3, 32, 126, 0.11);
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: auto;
				height: 100px;
			}
		}
		.uniname {
			font-size: 14px;
			color: $gray;
		}
		h5 {
			color: $color;
		}
		.ranking {
			display: flex;
			flex-direction: row;
			.box1 {
				display: flex;
				flex-direction: row;
				align-items: center;
				.icon {
					background: rgb(235, 248, 240);
					color: rgb(3, 167, 66);
					border-radius: 5px;
					padding: 9px;
				}
				.text {
					margin-left: 10px;
					p {
						font-size: 12px;
						position: relative;
						top: 10px;
						color: $gray;
					}
					span {
						font-size: 13px;
						font-weight: bold;
						position: relative;
						top: -6px;
						color: $gray;
					}
				}
			}
			.box2 {
				background-color: #fff;
				display: flex;
				flex-direction: row;
				align-items: center;
				.icon {
					background: rgb(235, 247, 248);
					color: rgb(5, 191, 216);
					border-radius: 5px;
					padding: 9px;
				}
				.text {
					margin-left: 10px;
					p {
						font-size: 12px;
						position: relative;
						top: 10px;
						color: $gray;
					}
					span {
						font-size: 13px;
						font-weight: bold;
						position: relative;
						top: -6px;
						color: $gray;
					}
				}
			}
		}
	}
	.stats {
		background-color: #fff;
		border: 1px solid rgba(128, 128, 128, 0.144);
		border-radius: 10px;
		padding: 20px;
		.list {
			line-height: 0.5;
			font-size: 13px;
			color: $gray;
			span {
				font-weight: 600;
			}
			.icon {
				color: $color;
			}
		}
	}
	.body {
		h1,
		h2 {
			color: rgb(97, 95, 95);
			font-size: 1.25rem;
		}
		h3 {
			color: rgb(97, 95, 95);
			font-size: 17px;
		}
		h4, h5 {
			color: rgb(97, 95, 95);
			font-size: 15px;
		}
		color: $gray;
		font-size: 12px;
		p {
			color: $gray;
			font-size: 14px;
		}
		ul, ol {
			padding-left: 40px;
			color: $gray;
			font-size: 14px;
		}
	}
	.universities-sec {
		.top {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			h5 {
				color: $color;
			}
			h2 {
				color: $black;
			}
		}
	}
	.social-btns {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		a {
			margin-top: 10px;
			color: $white;
			text-decoration: none;
			background: $color;
			border: none;
			border-radius: 7px;
			font-size: 13px;
			padding: 8px 18px;
			outline: none;
			margin-left: 10px;
		}
	}
	.footer-btns {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		a {
			margin-top: 10px;
			color: $white;
			text-decoration: none;
			background: $color;
			border: none;
			border-radius: 7px;
			font-size: 13px;
			padding: 12px 18px;
			outline: none;
			margin-left: 10px;
		}
		.apply {
			background-color: rgb(30, 195, 107);
			color: white;
		}
		.read {
			background-color: rgb(7, 178, 200);
		}
	}
	.summary {
		background-color: #fff;
		border: 1px solid rgba(128, 128, 128, 0.144);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		padding: 20px;
		h5 {
			color: $black;
			text-align: center;
		}
		p {
			font-size: 13px;
			color: $gray;
			text-transform: uppercase;
		}
		span {
			font-weight: bold;
			color: $black;
			position: relative;
			top: -10px;
		}
	}
	.find-courses {
		background-color: #fff;
		border: 1px solid rgba(128, 128, 128, 0.144);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		padding: 20px;
		h5 {
			color: $black;
			text-align: center;
		}
		span {
			color: $color;
			display: flex;
			flex-direction: row;
			margin-top: 10px;
			font-size: 14px;
			width: 100%;
			text-decoration: none;
			cursor: pointer;
			.icon {
				margin-left: auto;
			}
		}
	}
	.web_btn {
		width: 100%;
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			color: $white;
			text-decoration: none;
			background: $color;
			border: none;
			border-radius: 7px;
			font-size: 13px;
			outline: none;
			padding: 10px 20px;
			width: 100%;
			text-align: center;
		}
	}
	.apply_btn {
		width: 100%;
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			color: $white;
			text-decoration: none;
			background: rgb(30, 195, 107);
			border: none;
			border-radius: 7px;
			font-size: 13px;
			outline: none;
			padding: 10px 20px;
			width: 100%;
			text-align: center;
		}
	}
}
